@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #000;
}

.top {
  background-image: url("../img/top.jpg.webp");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.top::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.75) 60%);
}

.top-wrap {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.top-wrap__left {
  width: 45%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2.5%;
}

.top-wrap__left__img {
  width: 30%;
  display: flex;
}

.top-wrap__left__img img {
  width: 100%;
  height: 100%;
}

.top-wrap__right {
  width: 45%;
  text-align: center;
  padding: 5%;
}

.top-wrap__right__img {
  display: inline-block;
  width: 65%;
}

.top-wrap__right__img img {
  width: 100%;
  height: 100%;
}

.top-wrap__right__job {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3.5%;
}

.top-wrap__right__job__item {
  width: 30%;
  background-color: green;
  padding: 1.5% 0;
}

.top-wrap__right__job__item p {
  color: #fff;
  font-size: 1.35rem;
  font-weight: 500;
}

.top-wrap__right__ttl {
  margin-top: 4.5%;
}

.top-wrap__right__ttl h1 {
  font-size: 2.25rem;
  line-height: 2;
  font-weight: 700;
  text-shadow: 5px 5px 5px rgb(50 50 50 / 40%);
}

.top-wrap__right__ttl h1 span {
  font-size: 3.75rem;
  font-weight: 700;
  background-color: #d10d0c;
  color: #fff;
  padding: 1.5%;
}

.top-wrap__right__con {
  width: 90%;
  margin: 5% auto 0;
}

.top-wrap__right__con a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  text-decoration: unset;
  padding: 3.5% 0;
  display: block;
  background-color: green;
  border-radius: 7.5px;
  box-shadow: 4px 3px 7px rgb(0 0 0 / 40%);
  transition: all 0.3s;
}

.top-wrap__right__con a:hover {
  opacity: 0.7;
}

.top-wrap__right__con a small {
  display: block;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 500;
}

.top-wrap__fixed {
  position: fixed;
  right: 0px;
  z-index: 1;
}

.top-wrap__fixed a {
  display: block;
  padding: 35px 0;
  writing-mode: vertical-rl;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: unset;
  color: #fff;
  letter-spacing: 10px;
  background-color: #ffc41a;
  line-height: 3.5;
  box-shadow: 4px 3px 7px rgb(0 0 0 / 40%);
  transition: all 0.3s;
}

.top-wrap__fixed a:hover {
  opacity: 0.7;
}

.pro {
  background-color: #69CE88;
  padding-top: 2.5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.pro-wrap__ttl {
  text-align: center;
}

.pro-wrap__ttl h2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  text-decoration: 4px underline wavy #FF6B00;
  text-underline-offset: 10px;
}

.pro-wrap__con {
  display: flex;
  justify-content: space-between;
  margin-top: 6.25%;
}

.pro-wrap__con__block {
  position: relative;
  width: 25%;
  background-color: #fff;
  text-align: center;
  padding: 2.5%;
}

.pro-wrap__con__block::after {
  position: absolute;
  border-top: 35px solid #fff;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  transform: translateY(-50%) translateX(-50%);
  bottom: -50px;
}

.pro-wrap__con__block p {
  margin-top: 7.5%;
}

.pro-wrap__mes {
  text-align: center;
  margin-top: 5%;
}

.pro-wrap__mes p {
  display: inline-block;
  color: #69CE88;
  font-size: 2.25rem;
  font-weight: 700;
  background-color: #fff;
  padding: 1.25%;
}



.fea {
  background-color: #B2E2AB;
  padding-top: 2.5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.fea-wrap__ttl {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: 4px underline #FF6B00;
}

.fea-wrap__con__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4%;
}

.fea-wrap__con__block:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.fea-wrap__con__block__txt {
  width: 45%;
}

.fea-wrap__con__block__txt span {
  display: inline-block;
  background-color: #008000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5% 5%;
}

.fea-wrap__con__block__txt h3 {
  color: #1A9400;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 4%;
}

.fea-wrap__con__block__txt p {
  font-size: 1rem;
  line-height: 2;
  margin-top: 5%;
}

.fea-wrap__con__block__img {
  width: 45%;
  aspect-ratio: 7 / 5;
}

.fea-wrap__con__block__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sim-wrap __inner {
  padding-top: 2.5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
}

.sim-wrap__ttl {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: 4px underline #FF6B00;
}

.sim-wrap__ttl p {
  margin-top: 1%;
  font-size: 1.5rem;
}

.sim-wrap__table {
  border: solid #D9D9D9 1px;
  display: flex;
  margin-top: 5%;
}

.sim-wrap__table__block {
  width: 50%;
}

.sim-wrap__table__block__ttl {
  border-bottom: solid #D9D9D9 1px;
  padding: 2.5% 0;
}

.sim-wrap__table__block__ttl p {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
}

.sim-wrap__table__block__con {
  background-color: #f5f5f5;
  padding: 5%;
}

.sim-wrap__table__block__con__sub {
  border: solid #D9D9D9 1px;
  margin-top: 5%;
}

.sim-wrap__table__block__con__sub:nth-of-type(1) {
  margin-top: unset;
}

.sim-wrap__table__block__con__sub__ttl {
  border-bottom: solid #707070 1px;
  background-color: #707070;
  padding: 1.25% 0 1.25% 3.5%;
  color: #fff;
  font-size: 1.35rem;
  font-weight: 500;
}

.sim-wrap__table__block__con__sub__txt {
  border-bottom: solid #707070 1px;
  padding: 1.25% 0 1.25% 3.5%;
  background-color: #fff;
  font-size: 1.15rem;
}

.sim-wrap__table__block__con__sub__txt:nth-last-of-type(1) {
  border-bottom: unset;
}

.__sim-bg-1 {
  background-color:#FF6B00;
  border-left: solid #707070 1px;
  color: #fff;
}

.__sim-bg-2 {
  background-color: #B2E2AB;
  border-left: solid #707070 1px;
}

.voi {
  background-color: #008000;
  padding-top: 2.5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.voi-wrap__ttl {
  text-align: center;
  font-size: 2.5rem;
}

.voi-wrap__ttl .s-ttl {
  color: #fff;
  text-decoration: 4px underline #FF6B00;
}

.voi-wrap__con {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.voi-wrap__con__block {
  width: 45%;
  background-color: #fff;
  padding: 1.75%;
}

.voi-wrap__con__block__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.voi-wrap__con__block__top img {
  width: 40%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.voi-wrap__con__block__top p {
  width: 55%;
  text-align: right;
  line-height: 1;
}

.voi-wrap__con__block__top p span {
  display: block;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

.voi-wrap__con__block__ttl {
  margin-top: 3.5%;
  text-align: center;
}

.voi-wrap__con__block__ttl p {
  font-size: 1.5rem;
  color: #008000;
  font-weight: 500;
}

.voi-wrap__con__block__txt {
  margin-top: 2.5%;
}

.faq {
  background-color: #B2E2AB;
}

.faq-wrap__ttl {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: 4px underline #FF6B00;
}

.faq-wrap__con {
  width: 77.5%;
  margin: 0 auto;
}

.faq-wrap__con__block {
  margin-top: 3.5%;
}

.faq-wrap__con__block__top {
  background-color: #008000;
  padding: 0.5% 2.5%;
}

.faq-wrap__con__block__top p {
  color: #fff;
  font-size: 1.25rem;
}

.faq-wrap__con__block__top p span {
  font-size: 2.25rem;
  font-weight: 700;
}

.faq-wrap__con__block__bottom {
  background-color: #fff;
  padding: 2.5%;
}

.con-wrap__ttl {
  text-align: center;
}

.con-wrap__ttl span {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  color: #008000;
}

.con-wrap__ttl h2 {
  text-align: center;
  font-size: 2.5rem;
}

.con-wrap__ttl p {
  margin-top: 1%;
  font-size: 1.5rem;
}

.con-wrap__con {
  margin-top: 3.5%;
}

.con-wrap__con__form__block {
  display: flex;
  border: solid #d6d6d6 1px;
  margin: 0.35% 0;
}

.con-wrap__con__form__block__left {
  background-color: #B2E2AB;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  border: solid #d6d6d6 1px;
}

.con-wrap__con__form__block__left p {
  font-size: 1.15rem;
  color: #fff;
}

.con-wrap__con__form__block__left span {
  background-color: #d10d0c;
  padding: 0.75% 7.5%;
  color: #fff;
  font-weight: 500;
}

.con-wrap__con__form__block__left .__rev {
  background-color: #fff;
  padding: 0.75% 7.5%;
  color: #008000;
  font-weight: 500;
}

.con-wrap__con__form__block__right {
  width: 65%;
  border: solid #d6d6d6 1px;
  padding: 2%;
}

.con-wrap__con__form__block__right input {
  border: solid #d6d6d6 1px;
  height: 2.75rem;
  width: 100%;
  font-size: 1rem;
}

.con-wrap__con__form__block__right textarea {
  border: solid #d6d6d6 1px;
  height: 8.5rem;
  width: 100%;
  font-size: 1rem;
}

.con-wrap__con__form__block__btn {
  width: 22.5%;
  margin: 0 auto;
  margin-top: 3.5%;
}

.con-wrap__con__form__block__btn button {
  width: 100%;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #ffc41a;
  border-radius: 50px;
  color: #fff;
  border: unset;
  line-height: 3.5;
  box-shadow: 4px 3px 7px rgb(0 0 0 / 40%);
  transition: all 0.3s;
}

.con-wrap__con__form__block__btn button:hover {
  opacity: 0.5;
}

.footer-wrap {
  background-color: black;
  padding: 5% 0;
}

.footer-wrap p {
  text-align: center;
  color: #fff;
}